@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300..900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-container {
    width: 450px;
    margin-bottom: 15px;
}

.progress-track {
    width: 100%;
    height: 22px;
    border-radius: 12px;
    background-color: #eee;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    width: 0%;
    background-color: #bdbdbd;
    transition: width 0.3s ease;
}

.progress-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 5px;
}

.container {
    width: 450px;
    padding: 20px;
    border: 2px solid silver;
    border-radius: 10px;
    text-align: center;
}

.text {
    height: 150px;
    background-color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text h2 {
    text-align: center;
}

.keys {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    height: 50px;
    background-color: aliceblue;
}

.keys button {
    all: unset;
    cursor: pointer;
}

.keys .buttons {
    position: relative;
}

.icon1 {
    position: absolute;
    left: -15px;
    bottom: 3px;
}

.icon2 {
    position: absolute;
    right: -15px;
    bottom: 3px;
}